/* Use this file to store your useful variables */
/* This could be colors, fonts, or padding sizes! */

:root {
  --color-primary: #8ECAE6;
  --color-secondary: #ffffff;
  --color-db:#023047;
  --color-light:#FFB703;
  --color-dark:#FB8500;
  --color-before:#33586b50;
  --color-bb: #219EBC;
  --font-size-default: 16px;
  --padding-default: 10px;
  --border-radius-default: 15px;
  --font-family: 'Inter var', sans-serif;
}

.item,
.jacket-1 a {
    font-size: 28px;
    color: var(--color-db);
    font-weight: bold;
    font-family: var(--font-family);
    margin-bottom: 2px;
    text-decoration: none;
}

.brand {
    font-size: 20px;
    color: var(--color-db);
    font-family: var(--font-family);
    margin-top: 0px;
    margin-bottom: 40px;
}

.before-price {
    font-size: 20px;
    color: var(--color-before);
    font-family: var(--font-family);
    margin-bottom: 2px;
}

.price {
    font-size: 28px;
    color: var(--color-db);
    font-weight: bold;
    font-family: var(--font-family);
    margin-top: 2px;
    margin-bottom: 5px;
}

.price-2 {
    font-size: 28px;
    color: var(--color-db);
    font-weight: bold;
    font-family: var(--font-family);
}

.product-brand {
    font-size: 32px;
    font-family: var(--font-family);
    color: var(--color-db);
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.product-jacket {
    font-size: 30px;
    font-family: var(--font-family);
    color: var(--color-db);
    font-weight: 500;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.product-before-price {
    font-size: 30px;
    font-family: var(--font-family);
    color: var(--color-before);
    font-weight: 500;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.product-price {
    font-size: 32px;
    font-family: var(--font-family);
    color: var(--color-db);
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

